<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="Default-Webservice" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://spsvrae01:53000/Funcionario.svc" binding="wsHttpBinding"
                bindingConfiguration="Default-Webservice" contract="RAE.WCF.Funcionario.IFuncionario"
                name="Default-Webservice">
                <identity>
                    <servicePrincipalName value="host/SPSVRAE01.sp.sebrae.corp" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>